.button {
    height: 5rem;
    border-radius: .8rem;
    font-weight: 500;
    background: #8354fd;
    color: #FFF;
    padding: 0 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;

    transition: filter .2s;

    img {
      margin-right: .8rem;
    }

    &.outlined {
      background: #FFF;
      border: .1rem solid #8354fd;
      color: #8354fd;
    }

    &:not(:disabled):hover {
      filter: brightness(.9);
    }

    &:disabled {
      opacity: .6;
      cursor: not-allowed;
    }
}